body{
    background-color: #f7ad00;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-4{
    background: white;
    color: #f5821f;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info>p{
    text-align: center;
}

.contact-info img{
    margin-bottom: 15%;
    width: 100%;
    height: 100px;
}
.contact-info h3{
    margin-bottom: 10%;
    text-align: center;
}
.col-md-8{
    background: #f5821f;;
    color: #f5821f;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}

.contact-form .btn{
    background: #f7ad00;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form .btn:focus{
    box-shadow:none;
}
body{

    background: #f7ad00;

    margin: 0;

    padding: 0;

}


section#segura-items {
    display: block;
    position: relative;
    background: #FFF;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 6px 6px 29px rgba(0, 0, 0, 0.67);

}


select{
    border-radius:2px;
    border: 1px solid #cacaca;
    display:block;
    margin: 0 auto;
    padding: 12px;
    margin-top: 12px;
    width: 100%;
    height: 100%;

}
.loading {
    display: none;
}
.card-header{
    background: #f5821f;
}
.card{
    border-radius:2px;
    border: 1px solid #cacaca;
    box-shadow: 6px 6px 29px rgba(0, 0, 0, 0.67);
}